.sections-container{
    margin-top: 160px;
    padding: 0 40px;
    max-width: 100%;
}
.section1{
    display: flex;
    z-index: 0;
    position: relative;
}
.content-area{
    width: 50%;
    padding-right: 52px;
}
.section-image{
    width: 50%;
    height: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.build-title{
    font-weight: 600;
    position: relative;
}
h1{
    font-size: 86px;
    margin: 0 0 24px 0;
    line-height: 100%;
}
.cycle{
    position: absolute;
    top: -50px;
    left: -70px;
    z-index: -1;
}
.top-text{
    font-size: 20px;
    line-height: 36px;
    margin: 0 0 42px 0;
}
.top-text-2{
    display: none;
}

.share-button{
    background-color: #CF64EE;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    padding: 24px;
    border-width: 0;
    border-style: none;
    border-radius: 999px;
    margin-right: 40px;
    cursor: pointer;
}
.explore-button{
    background-color: #183961;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    padding: 23px 24px;
    border-width: 0;
    border-style: none;
    border-radius: 999px;
    border: solid 1px #63E9EE;
    box-sizing: border-box;
    color: #63E9EE;
    cursor: pointer;
}
.home-data-rectangle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(86, 79, 142, 0.48);
    margin-top: 80px;
    width: 100%;
    border: 2px solid #564F8E;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    flex-wrap: wrap;
    gap: 24px;
    padding: 36px 24px;
    }
.section2{
    display: flex;
    margin-top: 88px;
    flex-wrap: wrap;
}
.section-image2{
    width: 50%;
    height: auto;
}

.section2-title{
    font-size: 35px;
    font-weight: 600;
}
.info-text{
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
}
.register-rectangle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);;
    border: 2px solid rgba(255,255,255, 0.16);
    height: 192px;
    border-radius: 16px;
    margin-top: 88px;
}
.register-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.text-area-register{
    width: 50%;
    font-size: 16px;
    padding: 51.5px 24px 51.5px 24px;
}
.register-emailbox{
    background-color: rgba(255, 255, 255, 0.16);
    height: 56px;
}
.email-area-register{
    width: 50%;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-button{
    width: 170px;
    height: 60px;
    background-color: #69B814;
    border-radius: 100px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    margin-top: 16px;
}
.ctd-logo{
    margin-left: auto;
    margin-right: auto;
    width: 199px;
    height: 72px;
    margin-top: 64px;
    margin-bottom: 24px;
}

.paddingfix{
    padding: 0;
    padding-left: 52px;
}

@media (max-width: 1280px) {
    h1{
        font-size: 56px;
    }
    .share-button{
        margin-bottom: 16px;
    }
  }
  

  @media (max-width: 960px) {


    .content-area{
        margin-top: 24px;
        width: 100%;
    }

    .section-image{
        width: 40%;
        
    }

    h1{
        font-size: 48px;
    }
  }
  

  @media (max-width: 768px) {
    .section1{
        flex-direction: column-reverse;
        min-width: 350px;
    }
    .sections-container{
        margin-top: 120px;
        min-width: 380px;
    }
    .content-area-responsive{
        display: flex;
        justify-content: center;
    }
    .top-text{
        display: none;
    }
    .top-text-2{
        display: flex;
        justify-content: center;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 40px;    
        text-align: center;
    }
    .cycle{
        width: 90px;
        top: -20px;
        left: -30px;
    }
    .title-responsive{
        margin-top: 10px;
    }
    .button-area{
        margin-top: 40px;
        padding-left: 25px;
        flex-wrap: wrap;
    }
    .share-button{
        width: 150px;
        padding: 20px 0px;
        font-size: 13px;
        margin-right: 0px;
    }
    .explore-button{
        width: 150px;
        padding: 20px 0px;
        font-size: 13px;
    }
    .home-data-rectangle{
        margin-top: 0px;
        font-size: 14px;
        padding: 16px;
    }
    .content-area{
        margin-top: 24px;
        width: 100%;
        padding-right: 0px;
    }
    .section2{
        margin-top: 60px;
    }
    .section-image{
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 16px;
    }
    .build-title{
        position: relative;
    }
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2-title{
        margin-top: 30px ;
        text-align: center;
    }
    .info-text{
        text-align: center;
        line-height: 30px;
        font-size: 16px;
    }
    h1{
        font-size: 48px;
    }
    .paddingfix{
        padding: 0;
    }
    .register-rectangle{
        flex-direction: column-reverse;
        height: auto;
        margin-top: 40px;
    }
    .text-area-register{
        padding: 15px 40px;
        width: auto;
    }
    .email-area-register{
        font-size: 16px;
        width: 100%;
        padding: 10px 20px;
    }
    .register-title{
        text-align: center;
        font-size: 15px;
    }
    .register-info-text{
        font-size: 12px;
        text-align: center;
    }
    .register-button{
        width: 150px;
        height: auto;
        padding: 15px 20px;
        font-size: 13px;
    }

  }
  