.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(36px);
    -webkit-backdrop-filter: blur(36px); /* Safari */
    height: 96px;
    z-index: 3;
}
.hamburger-menu{
    display: none;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.menu{
    display: flex;
    align-items: center;
}
.menulink{
    color: #fff;
    text-decoration: none;
    margin-right: 64px;
    font-family: Outfit;
    font-weight: 600;
    font-size: 20px;
}
.logo{
    width: 72px;
    height: 72px;
}
.usericon{
    width: 56px;
    height: 56px;
}
@media (max-width: 768px){
    .navbar-container{
        padding: 0 40px;
    }
    .menu{
        display: none;
    }
    .hamburger-menu{
        display: flex;
        align-items: center;
    }
    .burger-logo{
        width: 30px;
        height: 72px;
    }
    .menu-content {
        position: absolute;
        right: -10px;
        top: -20px;
        border-radius: 4px;
        padding: 8px;
        z-index: 5;
    }
}