.share-project-container{
    margin-top: 204px;
    display: flex;
    padding: 0 40px;
    
}
.sp-info-container{
    width: 50%;
}
.sp-info-text-area{
    width: 473px;
    height: 751px;
    background-color: rgba(99, 233, 238, 0.24);
    border-radius: 24px;
    padding: 64px 32px 351px 32px;
    position: relative;
    
}
.sp-info-header{
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 48px;
}
.sp-info-text{
    font-size: 20;
    font-weight: 300;
    line-height: 32px;
}
.thumbs-up {
    position: absolute; /* Allow the element to position itself within the container */
    bottom: 0;          /* Push to the bottom of the container */
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
    
}
.sp-form-container{
    width: 50%;
}
.sp-form-header{
    font-size: 48px;
    font-weight: 600;
}
.sp-button{
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 199px;
    height: 64px;
    border-radius: 100px;
    background-color: #CF64EE;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.9px;
}
.sp-form-header-responsive{
    display: none;
}

@media (max-width: 768px) {
    .share-project-container{
        min-width: 370px;
        flex-direction: column;
        margin-top: 120px;
    }
    .sp-info-container{
        width: auto;
        height: auto;
    }
    .sp-info-text-area{
        width: auto;
        height: auto;
        background-color: rgba(99, 233, 238, 0.24);
        border-radius: 24px;
        padding: 32px 32px 32px 32px;
        position: relative;
        text-align: center;
    }
    .sp-info-header{
        margin-bottom: 8px;
        z-index: 2;
        position: relative;
        font-size: 18px;
    }
    .thumbs-up {
        z-index: 1; /* Place the image behind the text */
        width: 200px; /* Adjust size for responsive layout */
        opacity: 0.4;
    }
    .sp-info-text {
        position: relative; /* Ensure text remains above the image */
        z-index: 2;
        font-size: 12px;
        line-height: 20px;
    }
    .sp-form-header{
        display: none;
    }
    .sp-form-container{
        width: auto;
    }
    .sp-form-header-responsive{
        display: flex;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .sp-button{
        width: 150px;
        font-size: 13px;
        padding: 25px 20px;
    }
}